.navbar-bg {
  background-image: url(./images/restaurant\ 3.jpg);
  background-position: center;
  padding-bottom: 200px;
}

.about-flex {
  display: flex;
  margin-top: 120px;
  gap: 24px;
  margin-bottom: 120px;
}
.about-text {
  width: 50%;
}
.about-image {
  background-image: url(./images/chief.jpg);
  width: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10%;
  border-radius: 6px;
}
@media screen and (max-width: 1300px) {
  .about-image {
    margin-right: 0;
  }
  .about-text {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .about-flex {
    display: block;
  }
  .about-text {
    width: 100%;
  }
  .about-image {
    width: 60%;
    height: 360px;
    margin: 0 auto;
    margin-top: 48px;
  }
}