.navbar-bg {
  background-image: url(./images/restaurant\ 5.webp);
  background-position: center;
  padding-bottom: 200px;
}
.content {
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 120px;
}
.content a {
  color: #ebd2a4;
}

@media screen and (max-width: 700px) {
  .content {
    width: 520px;
  }
}
@media screen and (max-width: 580px) {
  .content {
    width: 90%;
  }
  .navbar-bg {
    padding-bottom: 40px;
  }
}