.navbar-bg {
  background-color: rgb(139, 139, 139);
  background-image: url(./images/speisen-getraenke.webp);
  padding-bottom: 200px !important;
}
.introduction a, .content a {
  text-decoration: none;
  color: #ebd2a4;
  border: 1px solid #ebd2a4;
  padding: 12px 24px;
  border-radius: 6px;
  width: 160px;
  transition: 0.3s all ease-in;
}

.introduction {
  background: black;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 0;
}
.content a:hover {
  opacity: 0.5;
}
.content {
text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.introduction p {
  width: 600px;
  margin: 40px auto;
}
.karten-flex {
  display: flex;
  justify-content: center;
  gap: 48px;
  text-align: center;
}
.kf-item {
  width: 160px;
}
.k-if {
  margin: 120px 0;
}
.k-if {
  margin-top: 100px;
}
.k-if iframe {
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .k-if iframe {
    width: 100%;
  }
}
@media screen and (max-width: 724px) {
  .content p{
    width: 500px;
  }
  .introduction p {
  width: 90%;
  }
}
@media screen and (max-width: 580px) {
  .karten-flex {
    display: block;
  }
  .kf-item {
    width: 160px;
    margin: 36px auto;
  }
  .content p {
    width: 100%;
  }
  .gk {
    margin-left: auto;
    margin-right: auto;
  }
  .k-if iframe {
    height: 440px;
  }
  .header-welcome h1 {
    padding: 60px 0 !important;
  }
  .navbar-bg {
    padding-bottom: 0 !important;
  }
}