.navbar-bg {
  background-color: rgb(139, 139, 139);
  background-image: url(./images/speisen-getraenke.jpg);
  padding-bottom: 220px;
}
.content a {
  text-decoration: none;
  color: #ebd2a4;
  border: 1px solid #ebd2a4;
  padding: 12px 24px;
  border-radius: 6px;
  width: 160px;
  transition: 0.3s all ease-in;
}
.content a:hover {
  opacity: 0.5;
}
.gk {
  margin: 44px 0;
}
.content {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 120px;
}
.content p {
  width: 400px;
  margin: 40px auto;
}
.karten-flex {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.k-if {
  margin: 120px 0;
}
.k-if:nth-child(1) {
  margin-top: 200px;
}
.k-if h1 {
  margin-bottom: 24px;
}
.k-if object {
  margin-bottom: 32px;
}

@media screen and (max-width: 580px) {
  .karten-flex {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  .content p {
    width: 100%;
  }
  .gk {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
  }
}