@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@font-face {
  font-family: shary;
  src: url(./shary-regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "raleway";
}
body {
  background: var(--body-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

:root {
  --background-color: #ebd2a4;
  --primary-color: #b97a3a;
  --secondary-color: #5c2c1d;
  --body-bg: #212121;
  --text-color: white;
}
.content {
  margin: 0 16vw;
}
p {
  line-height: 24px;
}
h1 {
  font-family: "poppins";
  font-size: 1.6em;
}
.navbar-bg {
  padding: 24px 0 340px 0;
  background-color: rgb(85, 85, 85);
  background-image: url(./images/restaurant.webp);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.navbar {
  padding-left: 8vw;
  padding-right: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 240px;
}
.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.active-link {
  color: var(--text-color) !important;
  border-bottom: 3px solid var(--text-color);
}
.navbar-links a {
  color: var(--text-color);
  text-decoration: none;
  padding: 12px 0;
  margin: 0 20px;
  transition: 0.2s all ease-in;
}
.navbar-links a:hover {
  color: var(--background-color);
}
.header-welcome h1 {
  color: var(--text-color);
  padding-top: 180px;
  text-align: center;
  font-size: 2.5em;
}
#header-welcome h1 {
  padding-top: 300px;
}


.header-links {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.header-links a {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  margin: 0 24px;
  transition: 0.2s all ease-in;
  width: 200px;
  text-align: center;
}
.header-links a:nth-child(1) {
  border: 1px solid var(--background-color);
  color: var(--background-color);
}
.header-links a:nth-child(1):hover {
  opacity: 0.75;
}
.header-links a:nth-child(2) {
  border: 1px solid var(--background-color);
  color: var(--background-color);
}
.header-links a:nth-child(2):hover {
  opacity: 0.75;
}

.toggle-button {
  display: none;
  position: absolute;
  right: 60px;
}
.side-menu {
  display: none;
  background-color: var(--text-color);
  align-items: center;
  text-align: center;
  right: 0;
  top: 0;
  width: 500px;
  height: 100vh;
  flex-direction: column;
  z-index: 100;
  position: fixed;
}
.side-menu a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 14px 24px;
  width: 100%;
}

.side-menu a:hover {
  color: #f2a65a;
}
.active-side-menu-link {
  color: var(--primary-color);
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
}
.close-button {
  display: none;
  margin: 16px 0;
}
.close-button img {
  width: 20px;
}
.close-button a {
  padding: 24px 48px;
}

.aktuelles-box {
  border: 1px solid var(--text-color);
  color: #212121;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 24px;
  width: 500px;
  border-radius: 6px;
  margin: 20px auto;
  background-color: #fefae0;
  position: relative;
}
/* .aktuelles-box::after {
  z-index: -100;
  content: "";
  position: absolute;
  background-color: #ebd2a4;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
} */
#aktuelles-header {
  text-align: center;
  padding-top: 140px;
  padding-bottom: 64px;
  color: var(--text-color);
}
.aktuelles-box h1 {
  padding-bottom: 14px;
  color: var(--primary-color);
}
.aktuelles {
  align-items: center;
  display: flex;
  padding-bottom: 140px;
}
.introduction {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(./images/restaurant\ 2.webp);
  background-blend-mode: multiply;
  color: var(--text-color);
  padding: 120px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;
}
.introduction p,
.introduction h1 {
  margin: 10px auto;
  width: 600px;
}
.opening-times {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.ot {
  text-align: right;
}
.opening-times div {
  text-align: center;
  margin: 24px 0;
  color: var(--text-color);
}
.speisen-wrapper {
  color: var(--text-color);
  margin-bottom: 120px;
}
.speisen-wrapper h1,
.drinks-wrapper h1 {
  color: #ebd2a4;
}
.speisen-flex {
  display: flex;
}
.speisen-text {
  width: 50%;
  margin-right: 32px;
}
.speisen-text a,
.drinks-text a,
.events-text a {
  line-height: 60px;
  text-decoration: none;
  border: 1px solid var(--background-color);
  padding: 12px 24px;
  color: var(--background-color);
  border-radius: 6px;
  transition: all 0.3s ease-in;
}
.speisen-text a:hover,
.drinks-text a:hover,
.events-text a:hover {
  opacity: 0.75;
}
#food-bg {
  background-image: url(./images/food.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  position: relative;
  border-radius: 6px;
}
#food-bg::after {
  z-index: -100;
  content: "";
  position: absolute;
  background-color: #ebd2a4;
  top: 10px;
  right: 10px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.drinks-flex {
  display: flex;
}
.drinks-text {
  width: 50%;
  margin-left: 32px;
}
#drinks-bg {
  background-image: url(./images/drinks.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  position: relative;
  border-radius: 6px;
}
#drinks-bg::after {
  z-index: -100;
  content: "";
  position: absolute;
  background-color: #ebd2a4;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.drinks-wrapper {
  margin-bottom: 120px;
}
.button-link {
  margin: 24px 0;
}

.events {
  margin-bottom: 120px;
  background-color: #212121;
  padding: 60px 16vw;
}
.events iframe {
  filter: invert(0.85) saturate(0.7) hue-rotate(145deg);
}
.google-maps {
  margin-bottom: 120px;
}
.google-maps iframe {
  border-radius: 6px;
}

.underline {
  width: calc(100% - 32vw);
  margin: 0 auto;
  height: 1px;
  background-color: var(--text-color);
  opacity: 0.7;
}
.footer-bg {
  background: linear-gradient(to top, black, var(--body-bg));
}
.footer {
  padding: 40px 16vw;
}
.footer-first-row {
  display: flex;
  justify-content: center;
  gap: 48px;
  align-items: center;
}
.footer-second-row {
  display: flex;
  justify-content: center;
  gap: 48px;
  align-items: center;
}
.impressum a,
.datenschutz a {
  color: var(--text-color);
  text-decoration: none;
  opacity: 0.5;
  font-weight: bolder;
  transition: 0.3s all ease-in;
}
.impressum a:hover,
.datenschutz a:hover {
  opacity: 1;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 16px;
}

@media screen and (max-width: 1500px) {
  .aktuelles-box {
    width: 400px;
  }
}
@media screen and (max-width: 1300px) {
  .navbar {
    display: block;
  }
  .logo {
    text-align: center;
  }
  .navbar {
    padding: 0 14vw;
  }
  .aktuelles-box {
    width: 300px;
  }

  #food-bg,
  #drinks-bg {
    width: 35%;
  }
  .speisen-text,
  .drinks-text {
    width: 65%;
  }
  .events iframe {
    height: 600px;
  }
  #header-welcome h1 {
    padding-top: 120px;
  }
}
@media screen and (max-width: 1100px) {
  .navbar-links {
    display: none;
  }
  .navbar {
    display: flex;
    padding-left: 8vw;
    padding-right: 10vw;
  }
  .logo {
    text-align: left;
  }
  .logo img {
    width: 160px;
  }
  .toggle-button {
    display: block;
  }
  .header-welcome h1 {
    font-size: 2em;
  }
  .content {
    margin: 0 8vw;
  }
  .underline {
    width: calc(100% - 16vw);
  }
  .footer {
    padding: 40px 8vw;
  }
  .events {
    padding: 60px 8vw;
  }
  .footer-logo img {
    width: 120px;
  }
  .aktuelles {
    display: block;
  }
  .aktuelles-box {
    width: 500px;
  }
  .aktuelles-social-media {
    flex-direction: row;
    justify-content: center;
  }
  #header-welcome h1 {
    padding-top: 250px;
  }
}
@media screen and (max-width: 900px) {
  .introduction p,
  .introduction h1 {
    width: 360px;
  }
  .opening-times {
    display: block;
  }
  
  .header-links {
    flex-direction: column;
    margin: 0 auto;
    width: 200px;
  }
  .header-links a {
    margin: 0;
  }
  .header-links a:nth-child(1) {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .speisen-flex {
    display: block;
  }
  .speisen-text,
  .drinks-text {
    width: 100%;
    margin: 0;
  }
  .button-link {
    text-align: center;
  }
  .events iframe {
    height: 480px;
  }
  #food-bg,
  #drinks-bg {
    height: 220px;
    width: 60%;
    margin: 0 auto;
  }
  .drinks-flex {
    flex-direction: column-reverse;
  }
  .events p {
    width: 100%;
  }
  #header-welcome h1 {
    padding-top: 250px;
  }
  .navbar-bg {
    padding-bottom: 280px !important;
  }
}
@media screen and (max-width: 580px) {
  .content {
    margin: 0 4vw;
  }
  .footer {
    padding: 40px 4vw;
  }
  .events {
    padding: 60px 4vw;
  }
  .toggle-button {
    right: 40px;
  }
  .underline {
    width: calc(100% - 8vw);
  }
  .aktuelles-box {
    width: 100%;
  }
  .navbar-bg {
    padding-bottom: 60px;
    padding-top: 32px;
  }
  .header-welcome h1 {
    padding: 90px 0;
  }
  .introduction p,
  .introduction h1 {
    width: 300px;
  }
  p {
    line-height: 20px;
    font-size: 0.9em;
  }
  .side-menu {
    width: 100%;
  }
  .toggle-button img {
    width: 24px;
  }
  .logo img {
    width: 120px;
  }
  .footer-first-row {
    display: block;
    text-align: center;
  }
  .footer-logo,
  .footer-first-row .address {
    margin-bottom: 24px;
  }
  .footer {
    font-size: 0.9em;
  }
  .footer-second-row {
    gap: 24px;
  }

  #header-welcome h1 {
    padding-top: 190px;
    padding-bottom: 20px;
  }
  .navbar-bg {
    padding-bottom: 220px !important;
  }
}
